Repository ropensci/vcr, pull requests merged in 2025-04, with the labels that each got.

#298 redact request headers automatically for httr2
  R/configuration.R
  R/filter_headers.R
  R/write.R
  README.md
  man/rmdhunks/configuration-vignette.Rmd
  man/rmdhunks/setup.Rmd
  man/vcr_configure.Rd
  tests/testthat/test-redact-httr2-request-headers.R
Labels: httr2

#324 Logging revamp
  NAMESPACE
  R/cassette_class.R
  R/configuration.R
  R/http_interaction_list.R
  R/logger.R
  R/request_handler.R
  _pkgdown.yml
  man/vcr_configure.Rd
  man/vcr_configure_log.Rd
  man/vcr_logging.Rd
  tests/testthat/_snaps/logger.md
  tests/testthat/test-configuration.R
  tests/testthat/test-logger.R
Labels: logging

#416 Draft readme for proposed v2 syntax/advice
  .gitignore
  README.Rmd
  README.md
Labels: docs
